.standardprice--value {
  font-size: 20px;
  line-height: 18px;
}

.productinformation .icon {
  width: 20px;
}

.productinformation {
  display: grid;
  grid-template-columns: 64px 1fr;
}

.productinformation .productinformation-name-price {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: [name] 65% [price] 25%;
}

.productinformation .productinformation-name-price .name {
  grid-column: name;
}

.productinformation .productinformation-name-price .price {
  grid-column: price;
}

.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}

.paypal{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
  color: #2c2e2f;
  cursor: pointer;
}

.paypal-link{
  color: #0070ba;
  font-weight: 500;
  
}

.paypal-svgs{
  display: inline-flex;
  align-items: start;
}